:root {
  background-color: rgb(252, 196, 41);
  font-size: 62.5%;
  background-image: url("../../img/highscore.jpg");
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #feffe0;
}

.highscores {
  background: #193b67a3;
  padding: 55px;
  justify-content: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 42px;
  color: #72ff96;
  @media (min-width: 500px) {
    font-size: 55px;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
.radioOptions {
  display: flex;
  justify-content: space-evenly;
}

label {
  font-size: 20px;
  color: #adff90;
}

.tableDesc {
  margin: auto;
  font-size: 20px;
  margin: 20px auto;
  width: 100%;
}

.tableAsc {
  margin: auto;
  font-size: 20px;
  margin: 20px auto;
  width: 100%;
}
td {
  text-align: center;
  color: rgb(114, 255, 150);
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.3rem solid #48ec87;
  margin-bottom: 0rem;
  border-radius: 10px;
  text-decoration: none;
  color: #3bc25d;
  background-color: white;
  align-self: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(26, 182, 91, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.hide {
  display: none;
}
